image:
  tag: "4.4.1"
usePassword: false
serviceAccount:
  create: false
persistence:
  enabled: false
useStatefulSet: false
resources:
  requests:
    cpu: "1"
    memory: "1Gi"
  limits:
    cpu: "2"
    memory: "2Gi"
labels:
  {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 2 }}
  dev.nuxeo.com/app: mongodb
  dev.nuxeo.com/resource: deployment
podLabels:
  {{ tpl (readFile "labels.yaml.gotmpl") . | nindent 2 }}
  dev.nuxeo.com/app: mongodb
  dev.nuxeo.com/resource: pod
